<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="brightness">
        <ion-label>BRIGHTNESS</ion-label>
        <ion-icon name="musical-note"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="insomia">
        <ion-label>INSOMNIA</ion-label>
        <ion-icon name="videocam"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="app-update">
        <ion-label>APP UPDATE</ion-label>
        <ion-icon name="game-controller"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
